<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <envs>
      <env name="jdbc_url" value="jdbc:postgresql://step-tinder.c5g0cgqqgsrf.eu-north-1.rds.amazonaws.com:5432/postgres" />
      <env name="jdbc_username" value="postgres" />
      <env name="jdbc_password" value="pg123456" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="App" />
    <module name="step-tinder" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>